# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

transformers[torch] 
datasets 
soundfile 
jiwer 
accelerate 
pyctcdecode==v0.1.0
fastapi
onnx